:root{
    /*colours*/
    --background-blue: #1587CF;
    --background-deep: #071D2B;
    --card-background: #570909;
    --card-foreground: #FFFC31;

}
body{
    background-color:var(--background-blue);
    margin:0px;
    padding:0px;
    overflow-x: hidden;
}
#header{
    background-color:var(--card-foreground);
    width: auto;
    height:auto;
    text-align:center;
    color:black;
    box-shadow: 4px 6px 0px var(--background-deep);
    border-radius:15px;
    border:4px solid var(--background-deep);
    padding: none;
    font-family: monospace;
    font-size: 50px;
    margin: 12px;
    padding:40px;
}
#header h1{
    font-family: monospace;
    margin: 0;
}
#header p{
    font-family: monospace;
    font-size: 15px;
}
/*from

#header{
    background-color:var(--card-foreground);
    width:50%;
    height:250px;
    text-align:center;
    color:black;
    box-shadow: 4px 6px 0px black;
    border-radius:15px;
    border:4px solid black;
    padding: none;
}

*/
#cards{
    display: grid;
    width: 100%;
    margin:2rem 0rem;
    height: 450px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
}
#cards div{
    background-color: var(--card-foreground);
    border-radius: 15px;
    border: 4px solid var(--background-deep);
    box-shadow: 4px 6px 0px var(--background-deep);
    padding: 1rem;
    margin: 1rem;
    font-family: monospace;
    font-size: 20px;
    height:440px;
}
#cards div:hover{
    transform: translate(2px, 2px);
    box-shadow: 2px 3px 0px black;
    cursor: pointer;
}
#cards div h1{
    font-size: 30px;
    font-family: monospace;
    margin-bottom: 0.3rem;
}
#cards div p{
    font-size: 14px;
    font-family: monospace;
    padding-bottom: 0.3rem;
}
#cards div a{
    font-size: 20px;
    font-family: monospace;
}
#cards img{
    width: 100%;
    height: 60%;
    margin:-0.25rem 2rem 0 -0.25rem;
    object-fit: cover;
    border-radius: 15px;
    border:4px solid var(--background-deep);
}
#footerBg{
    width: 100%;
    height:300px;
    background-color: var(--background-deep);
    color:white;
    margin: 0 0 0 0;
    padding:10px;
}
#footerBg #footerLeft h1{
    font-size: 30px;
    font-family: monospace;
    margin-bottom: 0.3rem;
    margin-top:0;
}
#footerBg #footerLeft p{
    font-size: 11px;
    font-family: monospace;
    margin-bottom: 0.3rem;
}
#log{
    justify-content: center;
    width:100%;
    height:200px;
    margin:0;
    padding:0;
}
#log svg{
    width:400px;
    height:100%;
    margin:0; padding:0;
}
#log svg .st1:hover{
    transform: translate(-5px, -5px);
    transition-duration: 0.1s;
}
